/* Reset & basic layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
.container {
  margin: auto;
  width: 100%;
  
}

/* Responsiveness of the body */
@media screen and (max-width: 780px) {
  .container {
    width: 100%;
  }
}

/* The header section with navs and logo */
header {
  background-color: #ffffff;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
}

.hamburger {
  display: none; /* Only show on mobile */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #252b42;
  transition: all 0.3s ease;
}

.navbar {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
}

.nav-list {
  display: flex;
  gap: 94px;
}

li.home {
  color: #fa4a0c;
}

.left {
  width: 246px;
  height: 101.76px;
}

li {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

/* Responsiveness of the header aspect */
@media screen and (max-width: 768px) {
  /*show logo and hamburger when not toggled*/
.left {
  width: 104px;
  height: 51.37px;
  margin-top: 17px;
  margin-right: 229px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
}
.nav-list {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    padding: 5px;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
li {
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 0px;
   }

.hamburger {
    display: flex;
    margin-top: 40px;
    width: 20px;
    height: 16px;
    color: #737373;
    opacity: 60%;
  }

  .menu-toggle:checked ~ .navbar .nav-list {
    display: flex;
  }
}

/* Hero Section */
.hero {
  background-image: url('./images/Rectangle\ 48.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 619px;
  width: 100%;
  margin: auto;
}

div.hero-subtitle {
  margin-bottom: 53px;
  margin-top: 73px;
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #F6F6F6;
}

.hero-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 937px;
  margin-bottom: 17px;
}

.hero-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #f6f6f6;
  height: 38px;
  padding: 10px 88px 48px 89px;
  margin-bottom: 18px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 0;
  position: relative;
}

.hero-buttons {
  display: inline-flex;
  gap: 34px;
  margin-bottom: 30px;
}

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  width: 236px;
  height: 68px;
  border-radius: 30px;
  padding: 16px 58.5px;
  background-color: #FA4A0C;
  color: #ffffff;
  box-shadow: 0px 10px 30px #B73227 20%;
  border: #FA4A0C;
  cursor: pointer;
}

.btn-outline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  width: 236px;
  height: 68px;
  background-color: transparent;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  cursor:pointer
}

.hero-mock {
  width: 548px;
  height: 640px;
  position: absolute;
  bottom: -55%;
  left: 50%;
  transform: translateX(-68%);
}

/* Responsiveness of the hero section */
@media screen and (max-width: 768px) {
  /* exclusion of the background image */
  .hero {
  background-image: none !important;
  width: 95%;
  margin-top: 50px;
  }
  .hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #737373;
  width: 80px;
  height: 24px;
  margin:auto;
  margin-top: -93.63px;
  margin-bottom: 17px;
}
  .hero-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.5px;
  letter-spacing: 0.2px;
  color: #252b42;
  width: 391px;
  margin: auto;
  margin-bottom: 27px;
}
.hero-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  width: 570px;
  color: #737373;
  height: 76px;
  padding: 10px 88px 48px 89px;
  margin: auto;
  gap: 7px;
  margin-bottom: 50px;
}
.hero-buttons {
  flex-direction: column;
}
.btn-primary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  width: 236px;
  height: 68px;
  border-radius: 30px;
  padding: 16px 58.5px;
  background-color: #FA4A0C;
  color: #ffffff;
  box-shadow: 0px 40px 40px #000000 7%;
  border: #FA4A0C;
  cursor: pointer;
}

.btn-outline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
  width: 236px;
  height: 68px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #fa4a0c;
  margin-bottom: 50px;
  cursor:pointer
}
.hero-mock {
  margin-top: 22px;
  position: absolute;
  bottom: -55%;
  left: 60%;
  transform: translateX(-68%);
}
.mock {
  width: 512px;
  height: 624px;
}
}

/* The horizontal line */
.horizontal-line {
  margin-top: 569.91px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #e4e4e4;
  flex-direction: column;
  text-align: center;
}

/* Responsiveness of the horizontal line */
@media screen and (max-width: 768px) {
  .horizontal-line {
    width: 100%;
  }
}

/* The verbose/lengthy section */
.workings {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  opacity: 80%;
  color: #000000;
  height: 36px;
  margin-top: 72.09px;
  text-align: center;
  margin-bottom: 59px;
}

.create {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FA4A0C;
  margin-bottom: 17px;
}

.account {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 561px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 17px;
}

.password {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 500px;
}

.w1 {
  flex-direction: column;
  width: 568px;
}

.first {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

div.login {
  margin-top: 78px;
  margin-left: 245px;
}

.explore {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FA4A0C;
  margin-bottom: 17px;
}

.shop {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 480px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 17px;
}

.meals {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 462px;
}

.w2 {
  flex-direction: column;
  width: 568px;
  margin-top: 88px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.delicious {
  margin-right: 154px;
  margin: auto;
}

.checkout {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FA4A0C;
  margin-bottom: 17px;
}

.deliver {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 559px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 17px;
}

.ease {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 460px;
}

.w3 {
  flex-direction: column;
  width: 568px;
  margin-top: 273px;
}

.third {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Responsiveness of the lengthy section */
@media screen and (max-width: 768px) {
.showbiz{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;  
  align-items: center; 
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.workings {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 242px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  height: 36px;
  margin-top: 49px;
  margin-bottom: 65px;
}
.create {
  width: 242px;
  margin-bottom: 40px;
  text-align:center;
}
.account {
  width: 337px;
  text-align: center;
  margin-bottom: 40px;
}
.password {
  width: 257px;
  text-align: center;
  margin-top: 50px;
}
.w1 {
  width: 95%;
  display: flex;
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       
  text-align: center; 
}
.first {
  display: block;
  flex-wrap: wrap-reverse;
  width: 80%;
  margin: auto;
}
div.login {
  align-items: center;
}
.explore {
  margin-bottom: 40px;
  width: 299px;
  text-align: center;
  align-items: center;
}
.shop {
  width: 327px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
}
.meals {
  width: 257px;
  text-align: center;
}
.w2 {
  display: block;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 88px;
}

.second {
  display: block;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.delicious {
  margin-right: 154px;
  margin: auto;
}

.checkout {
  margin-bottom: 40px;
  width: 123px;
  text-align: center;
  align-items: center;
}

.deliver {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 559px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 17px;
}

.ease {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 460px;
}

.w3 {
  flex-direction: column;
  width: 568px;
  margin-top: 273px;
}

.third {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
}

/* The implementation of the penultimate section of the landing page */
.penultimate {
  background-image: url('./images/Rectangle\ 47.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 516px;
  text-align: center;
  margin-bottom: 36.9px;
}

.penultimate-subtitle {
  width: 503px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 140px;
  align-items: center;
  margin-left: 168.5px;
  margin-bottom: 25px;
}

.penultimate-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.penultimate-buttons {
  display: inline-flex;
  gap: 16px;
}

.btn-play {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  width: 142px;
  height: 64px;
  border-radius: 10px;
  padding: 18px 31px;
  background-color: #FA4A0C;
  color: #ffffff;
  border: #FA4A0C;
  cursor:pointer
}

.btn-app {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 220px;
  height: 62px;
  background-color: transparent;
  padding: 16px 45px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

div.penultimate-subtitle { 
  margin-top: 73px; 
  margin-bottom: 10px;
  align-items: center;
}

.penultimate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

/* Responsiveness of the penultimate section */
@media screen and (max-width: 768px) {
  .penultimate {
    display: none;
  }
}

/* This is the footer aspect of the landing page */
.footer {
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footlogo {
  width: 206px;
  height: 76px;
  margin-top: 26.12px;
  margin-bottom: 28.12px;
  padding-right: 20px;
  padding-left: 20px;
}

.socials {  
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.wright {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5C5C5C;
  width: 190px;
}

.copywright {
  margin-top: 48px;
}

/* Responsiveness of the footer aspect of the landing page */
@media screen and (max-width: 768px) {
  .footer {
  display: none;
}
}

/* These sections appear only on mobile devices. */
.bizarre {
  display: none;
}

.footer-resp {
  display: none;
}

/* Responsiveness of the sections that appear only on mobile devices */
@media screen and (max-width: 768px) {
  .bizarre {
    display: block;
    background-color: #252b42;
    padding-top: 120px;
    padding-bottom: 110px;
    margin-bottom: 60px;
  }
  .footer-resp {
    display: block;
  }
  .qwerty {
    display: flex;
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    text-align: center; 
  }
  .qwerty h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    width: 310px;
    height: 114px;
    margin-bottom: 20px;
  }
  .qwerty p {
    width: 245px;
    height: 76px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 60px;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .btn-buy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-weight: 28px;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: 137px;
    height: 64px;
    padding: 18px;
    background-color: #fa4a0c;
    border: 1px solid #fa4a0c;
    border-radius: 10px;
  }
  .btn-free {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-weight: 28px;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: 186px;
    height: 64px;
    padding: 18px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .socials-resp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 8.01px;
  }
  .para p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5c5c5c;
    text-align: center;
    margin-bottom: 45px;
  }
}